@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("css/growyoursales.css");

body {
  font-family: "Lexend", sans-serif;
  padding: 0;
  margin: 0;
  transition: all 12s;
}

img {
  max-width: 100%;
}

.contain {
  width: 80%;
  margin: auto;
  max-width: 1440px;
}
a {
  color: #676bcb;
  text-decoration: none;
}
/* For best practice, move CSS below to an external CSS file. */

.text-animation span {
  opacity: 0;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loader-wrapper {
  background-color: #ffffff;

  position: fixed;

  top: 0;

  left: 0;

  z-index: 999;

  width: 100%;

  height: 100%;

  text-align: center;
}

.loader {
  width: 40px;

  height: 40px;

  border: 5px solid #000000;

  border-bottom-color: transparent;

  border-radius: 50%;

  margin-top: calc(50vh - 20px);

  display: inline-block;

  box-sizing: border-box;

  -webkit-animation: rotation 1s linear infinite;

  animation: rotation 1s linear infinite;
}

.splide__track,
.splide__track a {
  cursor: -webkit-grab;
  cursor: grab;
}
.header {
  padding: 30px 0;
}
.logoText {
  display: none;
}
.header.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 8px 0;
  background: rgba(256, 256, 256, 0.8);
  /* backdrop-filter: blur(8px); */
  z-index: 9999;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.header.fixed .logo img {
  display: inline-block;
}
.header.fixed .logoText {
  display: inline-block;
}


.header .contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  font-size: 16px;
  font-weight: 300;
  color: #1e1e1e;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
}

.menu a.highlight {
  color: #676bcb;
  border: solid 1px #676bcb;
}

.menu ul {
  padding: 0;
  margin: 0;
}
.menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  position: relative;
}
.menu li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 10px;
  margin: 0;
  width: 300px;
}
.menu li:hover ul {
  display: block;
}
.menu li ul:before {
  content: " ";
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  margin-top: -5px;
  position: absolute;
  left: 45px;
}
.menu li ul li {
  background: #fff;
  display: block;
}
.menu li li a {
  color: #57375d;
  padding: 15px;
  font-size: 14px;
  display: block;
}
.menu li li a:hover {
  background: #f9f9fc;
}
.home .heroBanner {
  margin: 50px auto;
}
.heroBanner img {
  display: block;
}
.heroBanner .upLogo a {
  width: 250px;
  border: 1px solid #272931;
  border-radius: 60px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
.heroBanner .upLogo .content {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  letter-spacing: -5%;
  line-height: 13px;
}
.heroBanner .upLogo .stars {
  display: flex;
  gap: 1px;
}
.heroBanner .upLogo .stars img {
  width: 10px;
}

.home-menu-btn a.highlight {
  color: #676bcb;
  border: 1px solid #676bcb;
  border-radius: 60px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 300;
  transition: 0.5s;
}
.home-menu-btn a.highlight:hover {
  color: white;
  background-color: #727273;
  border: 1px solid #727273;
}
.home-menu-btn a.highlight:hover img {
  filter: brightness(10);
}

.home-menu-btn a.highlight img {
  width: 12px;
  margin-right: 10px;
}

.fixed .menu a.highlight {
  color: #676bcb;
  border: solid 1px #676bcb;
}

.heroBanner h1 {
  width: 78%;
  font-size: 80px;
  color: #1e1e1e;
  letter-spacing: -0.75px;
  font-weight: 500;
}
.heroBanner img {
  display: block;
}

.portfolio {
  background: #fff;
  padding: 80px 0;
}
.portfolio .portfolioText {
  width: 65%;
  margin: auto;
  text-align: center;
}
.portfolio h2 {
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
.portfolio .portfolioText h2 .italic {
  font-style: italic;
}
.portfolio p {
  font-size: 14px;
  font-weight: 400;
}
.case-study-section {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.case-study-section li {
  list-style: none;
}
.case-study-section li .btn {
  margin: 20px 0;
}

.portfolio h4 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
}
.portfolio h1 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
}
.clientLogo {
  padding: 30px 0;
  background: #f9f9fc;
}
.clientLogo ul {
  padding: 0;
}
.clientLogo li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 2%;
  margin: 0;
  width: 140px;
}
.clientLogo img {
  width: 100%;
}
.clientLogo .clientLogo-small {
  width: 80%;
}
.clientLogo .clientLogo-extra-small {
  width: 60%;
}


/*********footer******/

.footer {
  background: #fff;
  padding: 90px 0;
  border-top: solid 1px #f2f2f2;
}
.footer .contain {
  display: flex;
}
.footer .ctabutton {
  width: 40%;
  border-right: solid 1px #e5e5e5;
}
.ctabutton h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 150%;
}
.ctabutton h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 150%;
  color: #794cbd;
  padding: 0;
  margin: 0;
}
.ctabutton input {
  background-color: rgba(190, 190, 190, 0.1);
  color: rgba(49, 49, 49, 0.3);
  border: none;
  outline: none;
  padding: 15px 20px;
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  max-width: 300px;
  width: 100%;
  border-radius: 30px;
}
.ctabutton input::placeholder {
  color: rgba(49, 49, 49, 0.3);
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.ctabutton .buttonCta {
  display: inline-block;
  padding: 14px 40px;
  background: #794cbd;
  margin-top: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 50px;
}
.footerMenu {
  width: 50%;
  margin-left: 10%;
  display: flex;
}
.footerMenu h3 {
  font-size: 24px;
  padding: 0;
  margin: 15px 0;
  font-weight: 300;
}
.footerMenu .column {
  width: 40%;
  margin: 5%;
}
.footerMenu .column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footerMenu .column li {
  margin: 0;
  padding: 0;
}
.footerMenu .column a {
  font-size: 16px;
  padding: 10px 0;
  font-weight: 200;
  display: inline-block;
  color: #666666;
  text-decoration: none;
}
.footercopyright {
  background: #fff;
  border-top: solid 1px #f2f2f2;
  padding: 30px 0;
}
.footercopyright .contain {
  display: flex;
  justify-content: space-between;
}
.footercopyright .logoFooter,
.footercopyright .copyright,
.footercopyright .linkedin {
  width: 30%;
}

.footercopyright .copyright {
  font-weight: 200;
  text-align: center;
}
.footercopyright .linkedin {
  text-align: right;
}

/* ABOUT PAGE */

.btn {
  padding: 17px 38px;
  display: inline-block;
  border: solid 1px #676bcb;
  border-radius: 30px;
  font-size: 21px;
  font-weight: 600;
  color: #676bcb;
  text-decoration: none;
  margin: 20px;
  transition: All 0.3s; /* Animation */
}
.btn:hover {
  transform: scale(1.1);
  background: #676bcb;
  color: #fff;
}


.clutchRatings {
  background-color: #f9f9fc;
  position: relative;
  text-align: center;
  margin: 100px auto;
}
.clutchRatings .container {
  top: -65px;
  position: relative;
  width: 50%;
  margin: auto;
}
.clutchRatings .clientLogo {
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.9);
}
.clutchRatings .ratings .star {
  width: 24px;
  height: 24px;
  background: url(images/star.svg) no-repeat;
  margin: 20px 5px;
  display: inline-block;
}
.clutchRatings h3 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.45px;
  padding: 0;
}
.clutchRatings p {
  color: #aaaaaa;
  font-size: 16px;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

/********************************************/
.reviews .splide__slide {
  background: #fff;
  width: 45%;
  margin: 2.5%;
  padding: 20px 40px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}
.reviewsHome {
  background: #fff;
}
.reviews {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 100px;
  align-items: center;
  position: relative;
}

.reviews .splide h3 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.reviews .splide h3 a {
  color: #1f1f20;
  padding: 30px 0;
  display: block;
}
.reviews .splide h4 {
  font-size: 14px;
  font-weight: 500;
  color: #696871;
  padding-bottom: 15px;
  border-bottom: solid 1px #e5e5e5;
}
.reviews .splide h5 {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  font-weight: 300;
  margin: 15px 0;
}
.reviews .splide h5 .verified {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(images/verified.svg) no-repeat;
  background-size: contain;
  margin-right: 6px;
}
.reviews .splide .star {
  width: 18px;
  height: 18px;
  background: url(images/star.svg) no-repeat;
  background-size: 100%;
  margin: 0px 5px 0 0;
  display: inline-block;
}
.reviews .splide__slide.is-active {
  background: #676bcb;
}
.reviews .splide__slide.is-active h3 a,
.reviews .splide__slide.is-active h4,
.reviews .splide__slide.is-active h5 {
  color: #fff;
}
.reviews .splide__slide.is-active h4 {
  border-bottom: solid 1px #767ad0;
}
.reviews .containerReviews img {
  width: 70px;
  margin-bottom: 10px;
}
.reviews .containerReviews {
  width: 40%;
}
.reviews .containerReviews h2 {
  font-size: 48px;
  line-height: 130%;
  letter-spacing: -0.45px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  max-width: 400px;
}
.reviews .containerReviews p {
  margin: 10px 0;
  padding: 0;
  color: #696871;
  font-size: 16px;
  font-weight: 200;
}
.reviews .containerReviews .btn {
  margin-left: 0;
}
.reviews .arrows {
  position: absolute;
  bottom: -30px;
  width: 140px;
}
.reviews .arrows .splide__arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 1px #e5e5f6;
  text-indent: -99999px;
  overflow: hidden;
}
.reviews .arrows .splide__arrow:hover {
  background-color: #e1e1f5;
  border-color: #e1e1f5;
}
.reviews .arrows .splide__arrow--prev {
  background: url(images/arrow-left.svg) center center no-repeat;
}
.reviews .arrows .splide__arrow--next {
  background: url(images/arrow-right.svg) center center no-repeat;
}
.review-interaction-button-1 .btn,
.review-interaction-button-2 .btn {
  border-radius: 50px;
  padding: 15px 50px;
}
.review-interaction-button-2 {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  display: none;
}

/* Hamburger Menu */

#menu__toggle {
  opacity: 0;
  display: none;
}
.home .menu__btn > span,
.home .menu__btn > span::before,
.home .menu__btn > span::after {
  background-color: #fff;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
  background-color: #fff;
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: #fff;
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #fff;
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  display: none;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 10000;
  border: solid 1px transparent;
  top: 7px;
}
.fixed .menu__btn > span,
.fixed .menu__btn > span::before,
.fixed .menu__btn > span::after,
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
  display: none;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  transition-duration: 0.25s;
  z-index: 99;
  background: #313131;
  transition: right 0.2s cubic-bezier(0.5, 0.25, 0, 1),
    background-color 16s cubic-bezier(0.5, 0.25, 0, 1);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-size: 30px;
  line-height: 150%;
  font-weight: 500;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}

/* Hamburger Menu */

.bg-white {
  background: #fff;
  padding-top: 10px;
}

/**************************************************test*******************/


/************************************************************************************************/
/**************************************** Responsive for 1280px**********************************/

@media (max-width: 1280px) {

}

/************************************************************************************************/
/**************************************** Responsive for 1199px**********************************/

@media (max-width: 1199px) {

}

/************************************************************************************************/
/**************************************** Responsive for 1024px**********************************/

@media (max-width: 1024px) {

}

/************************************************************************************************/
/**************************************** Responsive for 992px**********************************/

@media (max-width: 992px) {
}

/************************************************************************************************/
/**************************************** Responsive for 768px**********************************/

@media (max-width: 769px) {
}

/************************************************************************************************/
/**************************************** Responsive for 767px**********************************/

@media (max-width: 767px) {
}

/************************************************************************************************/
/**************************************** Responsive for 600px**********************************/

@media (max-width: 600px) {
  
  .clutchRatings .container {
    width: 90%;
  }

  .reviews .splide__slide {
    width: 90%;
  }
}

/************************************************************************************************/
/**************************************** Responsive for 414px**********************************/

@media (max-width: 415px) {
}

/************************************************************************************************/
/**************************************** Responsive for 375px**********************************/

@media (max-width: 376px) {
}
/* TIME LINE  */

/* PORTFOLIO */


.description {
  font-size: 14px;
  color: #696871;
  line-height: 160%;
  font-weight: 200;
}

/* Tablet Responsive */
@media (max-width: 1024px) {
  .contain {
    width: 95%;
  }
 
  .heroBanner h1 {
    width: 100%;
    font-size: 58px;
  }
  
  .portfolio {
    padding: 40px 0;
  }
  .portfolio li {
    text-align: center;
  }
  .portfolio .portfolioText {
    width: 80%;
  }
  .portfolio h2 {
    font-size: 36px;
  }
  .reviews {
    padding: 40px 0;
    flex-wrap: wrap;
    width: 95%;
    padding-bottom: 80px;
  }
  .reviews .containerReviews {
    width: 100%;
    text-align: center;
  }
  .reviews .containerReviews h2 {
    max-width: 100%;
  }
  .reviews .splide__slide {
    margin-left: 0;
    margin-right: 2.5%;
  }
  .reviews .arrows {
    left: calc(50% - 64px);
  }
  .footer {
    padding: 30px 0;
  }
  .ctabutton h2 {
    font-size: 36px;
  }
}
/* Tablet Responsive */

/* Mobile Responsive */
@media (max-width: 768px) {
  
  .review-interaction-button-2 {
    display: block;
  }
  .review-interaction-button-1 {
    display: none;
  }
  .btn {
    font-size: 14px;
  }
  .header .menu {
    display: none;
  }
  .menu__btn {
    display: block;
  }
  .contain {
    width: 90%;
  }
  .home-menu-btn {
    display: none;
  }
 
  .footer .contain {
    flex-wrap: wrap;
  }
  
  .btn {
    padding: 10px 20px;
    margin: 0;
  }
  .case-study-section {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .clientLogo ul {
    align-items: center;
    padding: 10px 0;
  }
  .clientLogo ul li {
    width: 100px;
  }
  .clientLogo .contain {
    width: 100%;
  }
  .clientLogo img {
    width: 80%;
  }
  .clientLogo .clientLogo-small {
    width: 60%;
  }
  .clientLogo .clientLogo-extra-small {
    width: 50%;
  }
  .portfolio {
    padding: 20px 0;
  }
  .portfolio h2 {
    font-size: 30px;
  }
  .portfolio h4 {
    font-size: 12px;
    margin: 10px;
  }
  .portfolio p {
    font-size: 12px;
    font-weight: 300;
  }

  .cta {
    padding: 15px 0;
  }
  .cta li {
    margin: 0 2px;
  }
  .cta li a {
    padding: 10px 20px;
  }
  .cta li a img {
    max-width: 50px;
  }
  .reviews {
    width: 90%;
  }
  .reviews .containerReviews h2 {
    font-size: 30px;
  }
  .reviews .splide h3 a {
    padding: 10px 0;
  }
  .reviews .containerReviews p {
    font-size: 14px;
  }
  .reviews .splide__slide {
    padding: 20px;
  }
  .footer {
    padding: 15px;
  }
  .footer .ctabutton {
    width: 100%;
    border: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #e5e5e5;
    text-align: center;
  }
  .ctabutton input {
    margin: auto;
    margin-top: 30px;
  }
  .ctabutton h2 {
    font-size: 30px;
  }
  .ctabutton h3 {
    font-size: 24px;
  }
  .ctabutton .buttonCta {
    font-size: 14px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .footerMenu {
    width: 100%;
    margin: 0;
  }
  .footerMenu .column {
    width: 50%;
    margin: 0;
  }
  .footerMenu .column a {
    font-size: 15px;
    padding: 7px 0;
  }
  .footercopyright .contain {
    flex-wrap: wrap;
  }
  .footercopyright .logoFooter,
  .footercopyright .copyright,
  .footercopyright .linkedin {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
  }

  
  .clutchRatings {
    margin-bottom: 20px;
  }
  .clutchLogo {
    margin: auto;
    width: 60px;
  }
  .clutchRatings h3 {
    font-size: 30px;
  }
  .clutchRatings p {
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0;
  }
  .clutchRatings .container {
    top: -30px;
  }
 
  /* Portfolio */
  .heroBanner h1 {
    font-size: 30px;
  }
  
  .contentRight #mce-responses {
    margin: 0;
    padding: 0;
  }
  .response {
    padding: 10px 0;
    margin: 10px 0;
    font-size: 12px;
  }
  .contentRight input,
  .contentRight textarea {
    font-size: 12px;
  }
}
